@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500&family=Poppins&display=swap');


/*CSS RESET*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*
	overflow-x - hidden
	The content is clipped - and no scrolling mechanism is provided*/
	overflow-x: hidden ;
	font-family: 'Lato', sans-serif;
}

html{
	scroll-behavior: smooth;
}


.navbar{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2em;
	background: rgba(0, 0, 0, 0.6) !important;
	padding: 20px 0;
}


/*combination selectors*/
/*these selectors require two or more selectors but the target is the latter/last selector*/

.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-left: 20px ;
}





/*pseudo element/selector*/
/*this .nav-link : hover will change the element style once the cursor is hovered over it*/
/*The :active selector styles the active link.*/
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #1ebba3;
}

.heading-content{
	position: absolute;
	top: 40%;
	width: 100%;
	max-width: 100%;
}

.heading-content h5{
	font-size: 3em;
	font-weight: 300;
	color: white;
	font-family: monospace;
	animation-delay: 0.5s;
}

.heading-content h1{
	font-size: 5em;
	color: lightgoldenrodyellow;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	animation-delay: .75s;
}

.heading-content p{
	font-size: 1.5em;
	/*text-transform:uppercase ;*/
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	word-spacing: 5px;
	letter-spacing: 2px ;
	animation-delay: 1.5s;
}






/*ABOUT ME*/

#about{
	min-height: 100%;
}


/*ABOUT ME END*/






/*SKILLS START*/

#service{
	min-height: 100%;
}


#service a{
	color: white;
	text-decoration: none;
	font-size: 1em;
}

#service a:hover{
	color: #1ebba3;
	cursor: pointer;
}



@media	screen	and (max-width: 768px){
	/*tablets screen size*/
	
	.navbar{
		letter-spacing: 0.1em;
		padding: 10px 0;
	}	
	.heading-content h5{
		font-size: 3em;
		
	}

	.heading-content h1{
		font-size: 3em;
	}

	.heading-content p{
		font-size: 0.9em;
	}
}

@media	screen	and (max-width: 425px){
	/*smartphones screen*/
	.heading-content{	
		top: 10%;
	}
	.heading-content h5{
		font-size: 1.5em;
		
	}

	.heading-content h1{
		font-size: 1.5em;
	}

	.heading-content p{
		font-size: 0.6em;
	}
}


/*Contact Start*/

#contact .post-heading h3{
	font-size: 2.9em;
}

.b-tact button:hover{
	color: #1ebba3;
	cursor: pointer;
}

/*Contact End*/